@model IKProject.Models.UpdateProfileViewModel


@{
    ViewBag.Title = "Hesap Ayarları";
}

<h2>Hesap Ayarları</h2>

<form asp-action="EditProfile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ProfilePhoto"></label>
        <input asp-for="ProfilePhoto" type="text" class="form-control-file" />
        <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TelefonNumarasi"></label>
        <input asp-for="TelefonNumarasi" class="form-control" />
        <span asp-validation-for="TelefonNumarasi" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Adres"></label>
        <input asp-for="Adres" class="form-control" />
        <span asp-validation-for="Adres" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

