@model IKProject.Models.CalisanRegisterModel
@using IKProject.Data.Enums

@{
    ViewData["Title"] = "Çalışan Ekle";
}

<h2>Çalışan Ekle</h2>

<form asp-action="RegisterEmployee" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProfilePhoto"></label>
        <input asp-for="ProfilePhoto" class="form-control" />
        <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Adi"></label>
        <input asp-for="Adi" class="form-control" />
        <span asp-validation-for="Adi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IkinciAdi"></label>
        <input asp-for="IkinciAdi" class="form-control" />
        <span asp-validation-for="IkinciAdi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Soyadi"></label>
        <input asp-for="Soyadi" class="form-control" />
        <span asp-validation-for="Soyadi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IkinciSoyadi"></label>
        <input asp-for="IkinciSoyadi" class="form-control" />
        <span asp-validation-for="IkinciSoyadi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TelefonNumarasi"></label>
        <input asp-for="TelefonNumarasi" class="form-control" />
        <span asp-validation-for="TelefonNumarasi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DogumTarihi"></label>
        <input asp-for="DogumTarihi" class="form-control" type="date" />
        <span asp-validation-for="DogumTarihi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DogumYeri" class="control-label"></label>
        <select asp-for="DogumYeri" asp-items="@(new SelectList(Enum.GetValues(typeof(Sehirler))))" class="form-control"></select>
        <span asp-validation-for="DogumYeri" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="TC"></label>
        <input asp-for="TC" class="form-control" />
        <span asp-validation-for="TC" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Departman"></label>
        <select asp-for="Departman" asp-items="@(new SelectList(Enum.GetValues(typeof(Departman))))" class="form-control"></select>
        <span asp-validation-for="Departman" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Meslek"></label>
        <select asp-for="Meslek" asp-items="@(new SelectList(Enum.GetValues(typeof(Meslek))))" class="form-control"></select>
        <span asp-validation-for="Meslek" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Adres"></label>
        <input asp-for="Adres" class="form-control" />
        <span asp-validation-for="Adres" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Cinsiyet"></label>
        <select asp-for="Cinsiyet" asp-items="@(new SelectList(Enum.GetValues(typeof(Cinsiyet))))" class="form-control"></select>
        <span asp-validation-for="Cinsiyet" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Çalışanı Ekle</button>
</form>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@

