@{
    ViewData["Title"] = "Anasayfa";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HighTech - IT Solutions Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/anasayfacss/lib/animate.min.css" rel="stylesheet">
    <link href="~/anasayfacss/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/anasayfacss/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/anasayfacss/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark py-2 d-none d-md-flex">
        <div class="container">
            <div class="d-flex justify-content-between topbar">
                <div class="top-info">
                    <small class="me-3 text-white-50"><a asp-controller="Home" asp-action="iletisim"><i class="fas fa-map-marker-alt me-2 text-secondary"></i></a> Üniversiteler Mah. Beytepe Cd .No:91, 06800 Çankaya/Ankara</small>
                    <small class="me-3 text-white-50"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=fhyi@bilgeadam.com"><i class="fas fa-envelope me-2 text-secondary"></i></a>fhyi@bilgeadam.com</small>
                </div>
                <div id="note" class="text-secondary d-none d-xl-flex"><small>İşinizi büyütmeniz için size yardım edelim </small></div>
                <div class="top-link">
                    <a href="https://www.facebook.com/home.php" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-facebook-f text-primary"></i></a>
                    <a href="https://x.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoidHIifQ%3D%3D%22%7D" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-twitter text-primary"></i></a>
                    <a href="https://www.instagram.com/accounts/login/" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-instagram text-primary"></i></a>
                    <a href="https://www.linkedin.com/feed/" class="bg-light nav-fill btn btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Carousel Start -->
    <div class="container-fluid px-0">
        <div id="carouselId" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img src="~/anasayfacss/img/carousel-1.jpg" class="img-fluid" alt="First slide">
                    <div class="carousel-caption">
                        <div class="container carousel-content">
                            <h6 class="text-secondary h4 animated fadeInUp">İK Çözümleri</h6>
                            <h1 class="text-white display-1 mb-4 animated fadeInRight">İnsan Kaynakları Yönetim Sistemleri</h1>
                            <p class="mb-4 text-white fs-5 animated fadeInDown">Siz de büyüyen ekibinizi yönetmekte zorlanıyorsanız FHYI İnsan Kaynakları Yönetim Sistemi'ne geçin.</p>
                            @* <a href="" class="me-2"><button type="button" class="px-4 py-sm-3 px-sm-5 btn btn-primary rounded-pill carousel-content-btn1 animated fadeInLeft">Daha Fazla..</button></a> *@

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Fact Start -->
    <div class="container-fluid bg-secondary py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
                    <div class="d-flex counter">
                        <h1 class="me-3 text-primary counter-value">12</h1>
                        <h5 class="text-white mt-1">Müşteri Sayımız</h5>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
                    <div class="d-flex counter">
                        <h1 class="me-3 text-primary counter-value">5</h1>
                        <h5 class="text-white mt-1">Şehirden Müşteri</h5>
                    </div>
                </div>
                <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
                    <div class="d-flex counter">
                        <h1 class="me-3 text-primary counter-value">6325</h1>
                        <h5 class="text-white mt-1">Toplam Kullanıcı Sayısı</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Fact End -->
    <!-- About Start -->
    <div id="hakkimizda" class="container-fluid py-5 my-5">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
                    <div class="h-100 position-relative">
                        <img src="~/anasayfacss/img/about-1.jpg" class="img-fluid w-75 rounded" alt="" style="margin-bottom: 25%;">
                        <div class="position-absolute w-75" style="top: 25%; left: 25%;">
                            <img src="~/anasayfacss/img/about-2.jpg" class="img-fluid w-100 rounded" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
                    <h5 class="text-primary">Hakkımızda</h5>
                    <h1 class="mb-4">FHYI İnsan Kaynakları Çözümleri Hakkında</h1>
                    <p>Personel Yönetimi uygulaması ile özlük, izin, harcama, puantaj, mesai, zimmet, eğitim ve çok daha fazlasını tek uygulamadan yönetin. İK operasyonlarınızdaki iş yükünüzü %76’ya kadar azaltın hata payını ve zaman kaybını minimuma indirin..</p>
                    <p class="mb-4">İnsan kaynakları operasyonlarınızı şirket akışınıza uygun bir şekilde Kolay İK üzerinde kurgulayın. Yöneticilerden çalışanlara herkes kendi hesaplarından izin, fazla mesai, harcama, avans taleplerinde bulunsun, size sadece kolayca yönetmek kalsın.</p>
                    <a asp-controller="Home" asp-action="iletisim" class="btn btn-secondary rounded-pill px-5 py-3 text-white">Daha Fazlası İçin Bize Ulaşın</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Services Start -->
    <div id="hizmetlerimiz" class="container-fluid services py-5 mb-5">
        <div class="container">
            <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                <h5 class="text-primary">Hizmetlerimiz</h5>
                <h1>Şirket ihtiyaçlarına özel sunduğumuz hizmetler</h1>
            </div>
            <div class="row g-5 services-inner" style="cursor: pointer">
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s" data-bs-toggle="modal" data-bs-target="#izinModal">
                    <div class="services-item bg-light">
                        <div class="p-4 text-center services-content">
                            <div class="services-content-icon">
                                <i class="fa fa-regular fa-users fa-7x mb-4 text-primary"></i>
                                <h4 class="mb-3">İzin Yönetimi</h4>
                                <p class="mb-4">Çalışanların izin taleplerini ve yıllık izinlerini etkin bir şekilde yönetmenizi sağlar.</p>

                            </div>
                        </div>
                    </div>
                </div>



                <!-- İzin Modal -->
                <div class="modal fade" id="izinModal" tabindex="-1" aria-labelledby="izinModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="izinModalLabel">İzin Yönetimi</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p> İzin yönetim sistemimiz, çalışanlarınızın izin taleplerini kolayca takip etmenizi ve onaylamanızı sağlar. Çalışanlarınız, kişisel ve yıllık izinlerini dijital ortamda yönetebilir, izin planlarını görebilir ve yöneticileriyle hızlı bir şekilde iletişime geçebilir. Bu sistem, izin süreçlerini basitleştirir ve yönetici onaylarını hızlandırarak operasyonel verimliliği artırır.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s" data-bs-toggle="modal" data-bs-target="#mesaiModal">
                    <div class="services-item bg-light">
                        <div class="p-4 text-center services-content">
                            <div class="services-content-icon">
                                <i class="fa fa-solid fa-user-clock fa-7x mb-4 text-primary"></i>
                                <h4 class="mb-3">Mesai Yönetimi</h4>
                                <p class="mb-4">Fazla mesai ve çalışma saatlerini düzenleyerek verimliliği artırmanıza yardımcı olur.</p>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- Mesai Modal -->
                <div class="modal fade" id="mesaiModal" tabindex="-1" aria-labelledby="mesaiModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="mesaiModalLabel">Mesai Yönetimi</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p> Mesai yönetim modülümüz, fazla mesai saatlerini ve çalışma sürelerini hassas bir şekilde takip etmenizi sağlar. Çalışanlar, mesai giriş ve çıkış saatlerini kolayca kaydedebilirken, yöneticiler de bu verileri gerçek zamanlı olarak inceleyebilir ve onaylayabilir. Bu sayede, iş gücü yönetiminizi optimize eder ve iş gücü maliyetlerini kontrol altında tutmanıza yardımcı olur.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s" data-bs-toggle="modal" data-bs-target="#performansModal">
                    <div class="services-item bg-light">
                        <div class="p-4 text-center services-content">
                            <div class="services-content-icon">
                                <i class="fa fa-solid fa-chart-line fa-7x mb-4 text-primary"></i>
                                
                                <h4 class="mb-3">Performans Yönetimi</h4>
                                <p class="mb-4">Çalışan performansını değerlendirmek ve geliştirmek için kapsamlı çözümler sunar.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- performans Modal -->
                <div class="modal fade" id="performansModal" tabindex="-1" aria-labelledby="performansModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="performansModalLabel">Performans Yönetimi</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p> Performans yönetimi aracımız, çalışanlarınızın performansını sistematik bir şekilde değerlendirmenizi sağlar. Belirlenen hedeflere ulaşma durumlarını takip edebilir, düzenli performans değerlendirme raporları oluşturabilir ve gelişim alanlarını belirleyebilirsiniz. Bu araç, çalışan memnuniyetini artırarak genel iş verimliliğinizi destekler.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".3s" data-bs-toggle="modal" data-bs-target="#veriModal">
                    <div class="services-item bg-light">
                        <div class="p-4 text-center services-content">
                            <div class="services-content-icon">
                                <i class="fas fa-regular fa-user-shield fa-7x mb-4 text-primary"></i>
                                <h4 class="mb-3">Veri Güvenliği</h4>
                                <p class="mb-4">Personel bilgilerini güvenle saklayarak şirketinizin veri güvenliğini sağlar.</p>

                            </div>

                        </div>
                    </div>
                </div>



                <!-- veri Modal -->
                <div class="modal fade" id="veriModal" tabindex="-1" aria-labelledby="veriModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="veriModalLabel">Veri Güvenliği</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p> Veri güvenliği modülümüz, hassas insan kaynakları bilgilerinizi en yüksek güvenlik standartlarına göre korur. Şifreleme, veri yedekleme ve erişim kontrolleri gibi ileri düzey güvenlik önlemleri ile çalışan verilerinizin güvenliğini sağlarız. Bu sistem, veri kaybı risklerini minimize eder ve gizliliği ön planda tutar.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".5s" data-bs-toggle="modal" data-bs-target="#raporModal">
                    <div class="services-item bg-light">
                        <div class="p-4 text-center services-content">
                            <div class="services-content-icon">
                                <i class="fa fa-solid fa-file-invoice fa-7x mb-4 text-primary"></i>
 
                                <h4 class="mb-3">Çalışan Raporlama</h4>
                                <p class="mb-4">Çalışanlarınızın performans ve katılım durumlarını ayrıntılı raporlarla izleyin.</p>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- rapor Modal -->
                <div class="modal fade" id="raporModal" tabindex="-1" aria-labelledby="raporModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="raporModalLabel">Çalışan Raporlama</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p> Çalışan raporlama sistemimiz, çeşitli performans ve faaliyet raporlarını kolayca oluşturmanızı sağlar. İş gücü analizleri, izin ve mesai raporları gibi detaylı verileri anlık olarak elde edebilir ve stratejik kararlarınızı bu verilerle destekleyebilirsiniz. Bu sistem, veri tabanlı karar alma sürecinizi güçlendirir.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay=".7s" data-bs-toggle="modal" data-bs-target="#isModal">
                    <div class="services-item bg-light">
                        <div class="p-4 text-center services-content">
                            <div class="services-content-icon">
                                <i class="fas fa-solid fa-laptop-medical fa-7x mb-4 text-primary"></i>
                                <h4 class="mb-3">İşe Alım</h4>
                                <p class="mb-4">Doğru adayları bulmak ve işe alım süreçlerinizi optimize etmek için güçlü araçlar sunar.</p>

                            </div>
                        </div>
                    </div>
                </div>



                <!-- İş Modal -->
                <div class="modal fade" id="isModal" tabindex="-1" aria-labelledby="isModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="isModalLabel">İşe Alım</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p> İşe alım modülümüz, açık pozisyonlara uygun adayları hızlı ve etkili bir şekilde bulmanızı sağlar. Başvuru takip sistemi, adayların başvuru durumlarını izlemeyi ve mülakat süreçlerini yönetmeyi kolaylaştırır. Bu süreç, doğru yetenekleri çekmenize ve organizasyonunuzun ihtiyaçlarına uygun ekip üyeleri seçmenize yardımcı olur.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Services End -->
    <!-- Project Start -->
    <!-- Project End -->
    <!-- Blog Start -->
    <!-- Blog End -->
    <!-- Team Start -->
    <div class="container-fluid py-5 mb-5 team">
        <div class="container">
            <div class="text-center mx-auto pb-5 wow fadeIn" data-wow-delay=".3s" style="max-width: 600px;">
                <h5 class="text-primary">Ekibimiz</h5>
                <h1>Uzman Ekibimizi Tanıyın</h1>
            </div>
            <div class="owl-carousel team-carousel wow fadeIn" data-wow-delay=".5s">
                <div class="rounded team-item">
                    <div class="team-content">
                        <div class="team-img-icon">
                            <div class="team-img rounded-circle">
                                <img style="cursor:pointer" src="https://media.licdn.com/dms/image/C4D03AQGuZbpwfyYxvg/profile-displayphoto-shrink_800_800/0/1648421674386?e=1728518400&v=beta&t=grKLshOpGlQybEtD1mCde93znf0MJRShfIZKVy9D4vc" class="img-fluid w-100 rounded-circle" alt="" data-bs-toggle="modal" data-bs-target="#furkanModal">
                            </div>
                            <div class="team-name text-center py-3">
                                <h4 class="">Furkan Baybura</h4>
                                <p class="m-0">Full Stack Developer</p>
                            </div>
                            <div class="team-icon d-flex justify-content-center pb-4">
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://x.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.linkedin.com/in/furkan-baybura-91555320a/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded team-item">
                    <div class="team-content">
                        <div class="team-img-icon">
                            <div class="team-img rounded-circle">
                                <img style="cursor:pointer" src="https://media.licdn.com/dms/image/v2/D4D03AQEEBvGrIiwVVw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1708460942233?e=1728518400&v=beta&t=3ebv44ZiE-XjIFgq-Inan0B96rLCgaBcTI6FniwFr3U" class="img-fluid w-100 rounded-circle" alt="" data-bs-toggle="modal" data-bs-target="#yasinModal">
                            </div>
                            <div class="team-name text-center py-3">
                                <h4 class="">Yasin Bağçuvan</h4>
                                <p class="m-0">Full Stack Developer</p>
                            </div>
                            <div class="team-icon d-flex justify-content-center pb-4">
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://x.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.linkedin.com/in/yasin-bagcuvan/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded team-item">
                    <div class="team-content">
                        <div class="team-img-icon">
                            <div class="team-img rounded-circle">
                                <img style="cursor:pointer" src="https://media.licdn.com/dms/image/v2/D4D03AQFCPoUpwm62Sw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1720128499436?e=1728518400&v=beta&t=gyFBZlamOie27oS9iJOcmtw6Aw_5VOWsveO9wz4molI" class="img-fluid w-100 rounded-circle" alt="" data-bs-toggle="modal" data-bs-target="#hivdaModal">
                            </div>
                            <div class="team-name text-center py-3">
                                <h4 class="">Hivda Karahan</h4>
                                <p class="m-0">Full Stack Developer</p>
                            </div>
                            <div class="team-icon d-flex justify-content-center pb-4">
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://x.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.linkedin.com/in/hivdakarahan/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rounded team-item">
                    <div class="team-content">
                        <div class="team-img-icon">
                            <div class="team-img rounded-circle">
                                <img style="cursor:pointer" src="https://media.licdn.com/dms/image/D4D03AQFrqy8WzvSxhA/profile-displayphoto-shrink_800_800/0/1715766853421?e=1728518400&v=beta&t=fX02yDWTJ7CEgK736au5OZTfHNZTo7RAHL5FaRNgCDw" class="img-fluid w-100 rounded-circle" alt="" data-bs-toggle="modal" data-bs-target="#ilginModal">
                            </div>
                            <div class="team-name text-center py-3">
                                <h4 class="">Ilgın Deniz Ayaz</h4>
                                <p class="m-0">Full Stack Developer</p>
                            </div>
                            <div class="team-icon d-flex justify-content-center pb-4">
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram"></i></a>
                                <a target="_blank" class="btn btn-square btn-secondary text-white rounded-circle m-1" href="https://www.linkedin.com/in/ilgin-deniz-ayaz/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Furkan Baybura Modal -->
    <div class="modal fade" id="furkanModal" tabindex="-1" aria-labelledby="furkanModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="furkanModalLabel">Furkan Baybura Hakkında</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Furkan Baybura, bir Full Stack Developer olarak uzmanlaşmış ve çeşitli projelerde görev almıştır...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Yasin Bağçuvan Modal -->
    <div class="modal fade" id="yasinModal" tabindex="-1" aria-labelledby="yasinModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="yasinModalLabel">Yasin Bağçuvan Hakkında</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Yasin Bağçuvan, bir Full Stack Developer olarak uzmanlaşmış ve çeşitli projelerde görev almıştır...</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Hivda Karahan Modal -->
    <div class="modal fade" id="hivdaModal" tabindex="-1" aria-labelledby="hivdaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="hivdaModalLabel">Hivda Karahan Hakkında</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Atılım Üniversitesi Matematik Bölümü'nden mezun oldum ve bölümümde alan seçmeli olarak yazılım dersleri aldım. Bu derslere olan ilgim nedeniyle, Almanya'da Erasmus stajımı Full Stack Developer olarak gerçekleştirdim. Üç ay süren bu staj boyunca, front-end ve back-end geliştirme konularında değerli deneyimler kazandım. Türkiye'ye döndükten sonra yazılım alanında kariyer yapma kararı aldım ve BilgeAdam Boost Yıldız Yazılımcı Yetiştirme Programı'na katıldım. Matematik eğitimi, analitik düşünme, problem çözme ve algoritmik yaklaşımlar kazandırarak yazılım geliştirme sürecinde büyük avantaj sağlıyor. Yazılım alanına yöneldim çünkü sorunları çözme, sürekli öğrenme fırsatlarını bir araya getirirken yaratıcı çözümler üretmek ve bu çözümlerin somut sonuçlarını görmek beni motive ediyor.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Ilgın Deniz Ayaz Modal -->
    <div class="modal fade" id="ilginModal" tabindex="-1" aria-labelledby="ilginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ilginModalLabel">Ilgın Deniz Ayaz Hakkında</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Mimarlık alanındaki kariyerimden edindiğim yaratıcı düşünce ve problem çözme deneyimimi yazılım geliştirmeye taşıyarak, .NET teknolojilerinde uzmanlaşmaya karar verdim. Kendimi bu alanda geliştirmeyi hedefleyerek Full Stack .NET Developer eğitimi aldım. Eğitim sürecinde farklı projelerde bulunma fırsatı yakaladım. Teorik eğitim ve proje süreçleri sırasında edindiğim bilgileri ve mimarlıktan gelen bakış açımı birleştirerek, yenilikçi çözümler üretmek, profesyonel çalışma ortamlarına değer katmak ve kariyerimi bu yönde şekillendirmek için kararlı bir şekilde ilerliyorum.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Team End -->
    <!-- Testimonial Start -->
    <!-- Testimonial End -->
    <!-- Footer Start -->
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top"><i class="fa fa-arrow-up text-white"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/anasayfacss/lib/wow/wow.min.js"></script>
    <script src="~/anasayfacss/lib/easing/easing.min.js"></script>
    <script src="~/anasayfacss/lib/waypoints/waypoints.min.js"></script>
    <script src="~/anasayfacss/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/anasayfacss/js/main.js"></script>
</body>

</html>