@model ChangePasswordViewModel
<div class="form-container">
    <h2>Şifre Değiştir</h2>
    <form asp-action="ChangePassword" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="OldPassword">Eski Şifre</label>
            <input asp-for="OldPassword" type="password" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NewPassword">Yeni Şifre</label>
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword">Yeni Şifre Tekrar</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>
    </form>
</div>

<style>
    body {
        background-color: #e0e7ea;
        font-family: 'Arial', sans-serif;
    }

    .form-container {
        width: 500px;
        margin: 50px auto;
        padding: 30px;
        background-color: #2c3e50;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        position: relative;
        top: 30px;
        left: 60%;
    }

        .form-container h2 {
            color: #ffffff;
            text-align: center;
            margin-bottom: 20px;
        }

    .form-group label {
        color: #bfc9d2;
    }

    .form-control {
        background-color: #34495e;
        color: #ffffff;
        border: 1px solid #1abc9c;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }

        .form-control:focus {
            background-color: #3b5998;
            border-color: #ff9900;
            box-shadow: 0 0 8px rgba(255, 153, 0, 0.5);
            outline: none;
        }

    .btn-primary {
        background-color: #ff9900;
        border-color: #ff9900;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #cc7a00;
            border-color: #cc7a00;
        }

    .text-danger {
        color: #ff4d4d;
    }
</style>
