@model ChangePasswordViewModel
<br />
<br />
<br />
<div class="form-container">

    <h2>Şifre Değiştir</h2>
    <br />
    <form asp-action="ChangePassword" asp-controller="Home" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label asp-for="OldPassword">Eski Şifre</label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="NewPassword">Yeni Şifre</label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label asp-for="ConfirmPassword">Yeni Şifre Tekrar</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>



        <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>
    </form>
</div>