@using IKProject.Models
@model IKProject.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/logincss/css/login.css">
    <script src="~/logincss/js/login.js" defer></script>
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">Giriş Yap</div>
            <div class="title signup">Kayıt Ol</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login">Giriş</label>
                <label for="signup" class="slide signup">Kayıt</label>
                <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
                
                <form asp-action="Login" method="post" class="login">
                    <div class="field">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" type="text" placeholder="E-posta Adresi" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="field">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" type="password" placeholder="Şifre" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Giriş Yap">
                    </div>
                    <div>
                        <a href="/Account/ForgotPassword">Şifrenizi mi unuttunuz?</a>
                    </div>
                </form>
                


                <form asp-action="Register" method="post" enctype="multipart/form-data" class="signup">
                    @Html.Partial("Register", new RegisterViewModel())
                </form>
            </div>
        </div>
    </div>
</body>
</html>